.report-container{
  background: #7986cb;
  border: 1px solid white;
  border-radius: 5px;
}

.report-container h4{
  text-align: center;
  padding-top: 10px; 
  font-size: large;
  color: white;
}

.table-report {
  color: red;
}

.table-report thead tr th {
  font-size: 18px;
  /* border-right: 2px solid black; */
}
.table-report strong{
  color: white;
}
.csv-link {
  font-size: 20px;
  padding-bottom: 10px;
}

.csv-link-select{
  font-size: 20px;
  padding-left: 15px;
  padding-right: 17px;
  padding-bottom: 10px;
}
