.table-report {
  color: red;
}

.table-report thead tr th {
  font-size: 18px;
  /* border-right: 2px solid black; */
}
.table-report strong{
  color: white;
}
.csv-link {
  font-size: 20px;
  color: blue;
  padding-left: 20px;
  padding-top: 10px;
}
