
.homeBody-Input{
    max-width: 650px;
}

.homeAdd{
  position: fixed;
  bottom: 20px;   
  right: 0;
}

.homeAdd .homeAdd-icon{
  font-size: 80px;
  text-align: center;
}
 
.homeAdd .homeAdd-bt{
  box-shadow: 0 3px 3px 0 #707070;
  border-radius: 35px;
}
