.table-content{
    margin: 0 20px;
}
.row-filter{
    margin-bottom: 15px;
}
.filter-btn button{
    margin-right: 10px;
}

.btitle {
    color: #9e9e9e;
}

.basic-info-title h5{
    text-align: end;
    padding-right: 1rem;
}

.d-follow .MuiDialog-container .MuiDialog-paperScrollPaper{
    display: flex;
    height: calc(100% - 64px);
    flex-direction: column;
}

.bt-menu-follow {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
}
.nodata-display {
    text-align: center;
    opacity: .8;
    width: 100%;
    min-height: 300px;
}

.nodata-display .notfound-img {
    filter: grayscale(100%);
    width: 100%;
    /* opacity: .8; */
}

.nodata-display .nodata-img {
    height: 300px;
    /* filter: grayscale(100%); */
    width: 100%;
}