padding
    /* padding-top */
.cpt-0{padding-top: 0;}
.cpt-1{padding-top: 1px;}
.cpt-2{padding-top: 2px;}
.cpt-3{padding-top: 3px;}
.cpt-4{padding-top: 4px;}
.cpt-5{padding-top: 5px;}
.cpt-6{padding-top: 6px;}
.cpt-7{padding-top: 7px;}
.cpt-8{padding-top: 8px;}
.cpt-9{padding-top: 9px;}
.cpt-10{padding-top: 10px;}
.cpt-11{padding-top: 11px;}
.cpt-12{padding-top: 12px;}
.cpt-13{padding-top: 13px;}
.cpt-14{padding-top: 14px;}
.cpt-15{padding-top: 15px;}
.cpt-16{padding-top: 16px;}
.cpt-17{padding-top: 17px;}
.cpt-18{padding-top: 18px;}
.cpt-19{padding-top: 19px;}
.cpt-20{padding-top: 20px;}

    /* padding-right */
.cpr-0{padding-right: 0;}
.cpr-1{padding-right: 1px;}
.cpr-2{padding-right: 2px;}
.cpr-3{padding-right: 3px;}
.cpr-4{padding-right: 4px;}
.cpr-5{padding-right: 5px;}
.cpr-6{padding-right: 6px;}
.cpr-7{padding-right: 7px;}
.cpr-8{padding-right: 8px;}
.cpr-9{padding-right: 9px;}
.cpr-10{padding-right: 10px;}
.cpr-11{padding-right: 11px;}
.cpr-12{padding-right: 12px;}
.cpr-13{padding-right: 13px;}
.cpr-14{padding-right: 14px;}
.cpr-15{padding-right: 15px;}
.cpr-16{padding-right: 16px;}
.cpr-17{padding-right: 17px;}
.cpr-18{padding-right: 18px;}
.cpr-19{padding-right: 19px;}
.cpr-20{padding-right: 20px;}

    /* padding-buttom */
.cpb-0{padding-bottom: 0;}
.cpb-1{padding-bottom: 1px;}
.cpb-2{padding-bottom: 2px;}
.cpb-3{padding-bottom: 3px;}
.cpb-4{padding-bottom: 4px;}
.cpb-5{padding-bottom: 5px;}
.cpb-6{padding-bottom: 6px;}
.cpb-7{padding-bottom: 7px;}
.cpb-8{padding-bottom: 8px;}
.cpb-9{padding-bottom: 9px;}
.cpb-10{padding-bottom: 10px;}
.cpb-11{padding-bottom: 11px;}
.cpb-12{padding-bottom: 12px;}
.cpb-13{padding-bottom: 13px;}
.cpb-14{padding-bottom: 14px;}
.cpb-15{padding-bottom: 15px;}
.cpb-16{padding-bottom: 16px;}
.cpb-17{padding-bottom: 17px;}
.cpb-18{padding-bottom: 18px;}
.cpb-19{padding-bottom: 19px;}
.cpb-20{padding-bottom: 20px;}

    /* padding-left */
.cpl-0{padding-left: 0;}
.cpl-1{padding-left: 1px;}
.cpl-2{padding-left: 2px;}
.cpl-3{padding-left: 3px;}
.cpl-4{padding-left: 4px;}
.cpl-5{padding-left: 5px;}
.cpl-6{padding-left: 6px;}
.cpl-7{padding-left: 7px;}
.cpl-8{padding-left: 8px;}
.cpl-9{padding-left: 9px;}
.cpl-10{padding-left: 10px;}
.cpl-11{padding-left: 11px;}
.cpl-12{padding-left: 12px;}
.cpl-13{padding-left: 13px;}
.cpl-14{padding-left: 14px;}
.cpl-15{padding-left: 15px;}
.cpl-16{padding-left: 16px;}
.cpl-17{padding-left: 17px;}
.cpl-18{padding-left: 18px;}
.cpl-19{padding-left: 19px;}
.cpl-20{padding-left: 20px;}

/* margin */
    /* margin-top */
.cmt-0{margin-top: 0;}
.cmt-1{margin-top: 1px;}
.cmt-2{margin-top: 2px;}
.cmt-3{margin-top: 3px;}
.cmt-4{margin-top: 4px;}
.cmt-5{margin-top: 5px;}
.cmt-6{margin-top: 6px;}
.cmt-7{margin-top: 7px;}
.cmt-8{margin-top: 8px;}
.cmt-9{margin-top: 9px;}
.cmt-10{margin-top: 10px;}
.cmt-11{margin-top: 11px;}
.cmt-12{margin-top: 12px;}
.cmt-13{margin-top: 13px;}
.cmt-14{margin-top: 14px;}
.cmt-15{margin-top: 15px;}
.cmt-16{margin-top: 16px;}
.cmt-17{margin-top: 17px;}
.cmt-18{margin-top: 18px;}
.cmt-19{margin-top: 19px;}
.cmt-20{margin-top: 20px;}

    /* margin-right */
.cmr-0{margin-right: 0;}
.cmr-1{margin-right: 1px;}
.cmr-2{margin-right: 2px;}
.cmr-3{margin-right: 3px;}
.cmr-4{margin-right: 4px;}
.cmr-5{margin-right: 5px;}
.cmr-6{margin-right: 6px;}
.cmr-7{margin-right: 7px;}
.cmr-8{margin-right: 8px;}
.cmr-9{margin-right: 9px;}
.cmr-10{margin-right: 10px;}
.cmr-11{margin-right: 11px;}
.cmr-12{margin-right: 12px;}
.cmr-13{margin-right: 13px;}
.cmr-14{margin-right: 14px;}
.cmr-15{margin-right: 15px;}
.cmr-16{margin-right: 16px;}
.cmr-17{margin-right: 17px;}
.cmr-18{margin-right: 18px;}
.cmr-19{margin-right: 19px;}
.cmr-20{margin-right: 20px;}

    /* margin-buttom */
.cmb-0{margin-bottom: 0;}
.cmb-1{margin-bottom: 1px;}
.cmb-2{margin-bottom: 2px;}
.cmb-3{margin-bottom: 3px;}
.cmb-4{margin-bottom: 4px;}
.cmb-5{margin-bottom: 5px;}
.cmb-6{margin-bottom: 6px;}
.cmb-7{margin-bottom: 7px;}
.cmb-8{margin-bottom: 8px;}
.cmb-9{margin-bottom: 9px;}
.cmb-10{margin-bottom: 10px;}
.cmb-11{margin-bottom: 11px;}
.cmb-12{margin-bottom: 12px;}
.cmb-13{margin-bottom: 13px;}
.cmb-14{margin-bottom: 14px;}
.cmb-15{margin-bottom: 15px;}
.cmb-16{margin-bottom: 16px;}
.cmb-17{margin-bottom: 17px;}
.cmb-18{margin-bottom: 18px;}
.cmb-19{margin-bottom: 19px;}
.cmb-20{margin-bottom: 20px;}

    /* margin-left */
.cml-0{margin-left: 0;}
.cml-1{margin-left: 1px;}
.cml-2{margin-left: 2px;}
.cml-3{margin-left: 3px;}
.cml-4{margin-left: 4px;}
.cml-5{margin-left: 5px;}
.cml-6{margin-left: 6px;}
.cml-7{margin-left: 7px;}
.cml-8{margin-left: 8px;}
.cml-9{margin-left: 9px;}
.cml-10{margin-left: 10px;}
.cml-11{margin-left: 11px;}
.cml-12{margin-left: 12px;}
.cml-13{margin-left: 13px;}
.cml-14{margin-left: 14px;}
.cml-15{margin-left: 15px;}
.cml-16{margin-left: 16px;}
.cml-17{margin-left: 17px;}
.cml-18{margin-left: 18px;}
.cml-19{margin-left: 19px;}
.cml-20{margin-left: 20px;}