.vtcontainer {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    /* overflow: hidden; */
}
.vtcontainer h3{
    margin-top: 20px;
    text-align: center;
}
.linkicon a,.linkicon a:hover{
    color: #fff;
}

.link a, .link a:hover{
    color: black;
    text-decoration: none;
}

.seach-eld{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.inner-seach2{
    margin-top: 20px;
}

@media (min-width: 770px){
    .seach-eld input{
        width: 500px;
    } 
}
.nav-bottom p{
    color: black;
    text-align: center;
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 0;
}

.bt-searchInfo{
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
}

.bt-searchInfo a, .bt-searchInfo a:hover{
    text-decoration: none;
}

.bt-searchInfo a .bt1{
    border-radius: 35px;
    color: #DA9813;
    background-color: #F2F2AB;
}

.bt-searchInfo a .bt2{
    border-radius: 35px;
    color: #fff;
    background-color: #0099FF;
}

.paper-show{
    cursor: pointer;
    padding: 10px;
    margin-bottom: 15px;
}