/* Genaral Class */
.txt-center{
    text-align: center;
}

/* Common config All Screen */
.css-form{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #eeeeee;
    overflow: hidden;
}
.hh{
    font-size: 20px;
    margin-left: 5%;
}
.css-form h1{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}
.css-form h5{
    margin-top: 10px;
    margin-left: 15%;
    padding: 5px;
}
.css-form h{
    margin-top: 20px;
    color: rgb(255, 0, 0);
}
.css-form h4{
    margin-bottom: 5px;
    margin-left: 10%;
    
}
.css-form h6{
    margin-top: 5px;
    margin-left: 23%;
    padding: 5px;
}

.css-form p {
    font-size: 20px;
}

.css-form input[type=radio] {
    transform:scale(1.5);
}

.css-form form h2{
    text-align: center;
    font-size: 35px;
}

.form-btn {
    margin: 0 45px;
}
.css-form .btn-back {
    background-color: #99CCFF;
    color: white;
}

.css-form .question {
    margin: 30px;
}

.css-form .question label {
    margin: 0;
    font-size: 20px;
}

/* .css-form .question .each-question {
    margin-bottom: inherit;
}

.css-form .question .each-question .form-check-inline {
    margin-right: 30px;
} */

.css-form .radio-size span {
    font-size: 20px !important;
}
.css-form span {
    font-size: 20px;
}

.title-result{
    color: #A9A9A9;
}
.result-result{
    font-size: 20px;
}

/* small phone  width < 576px  */
/* iPhone XS, Galaxy S9 Plus, Galaxy Note 8 */
@media screen and (max-width: 576px) { 
    .css-form form{
        margin: 45px 20px;
    }
    .css-form h1 {
        font-size: 30px;
    }
    .css-form form h2 {
        font-size: 25px;
    }
    /* .css-form p {
        font-size: 17px;
    } */
    .css-form .question {
        margin: 30px 0;
    }
    .date p {
        padding-top: 10px
    }

    .form-btn {
        margin: 0 15px;
    }
}

/* tablet and com 576px >= width < 992px */
@media screen and (min-width: 577px) and (max-width: 1099px) { 
    .css-form {
        /* background-color: aqua; */
    }
}

/* com */
@media screen and (min-width: 1100px) { 
    .css-form form {
        margin: 35px 270px;
    }
}

.dialog{
    text-align: center;
}
.dialog-title{
    background-color: rgb(128, 255, 255);
}
.dialog-title strong{
    color: red;
}
.dialog-content h4,h5{
    text-align: start;
}
.dialog-content h5{
    color: #7B7B7B;
    padding-left: 20px;
    margin-bottom: 10px;
}
.dialog-content h6{
    font-size: 20px;
}