.content2 {
  margin: 0 20px 0 20px;
}

.top-input {
  position: fixed;
  margin-left: 20px;
  width: 50%;
}

table {
  text-align: left;
}

/* .filter-btnav {
  margin: 50px 20px 0 20px;
} */

.filter-btnav .btn {
  margin: 0 10px;
}

/* .number {
    width: 5%;
    text-align: center;
} */
table a {
  margin-left: 10px;
}


