.add-staff{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}
.avatar-pic {
    width: 150px;
}

.customized-dialog-footer button{
    font-size: 20px;
    margin: 5px 30px;
}
.add-staff h2 {
    text-align: center;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 20px;
  }
.image-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.inputFill{
    margin-bottom: 20px;
}
.info-inputFill{
    padding-left: 20px;
    padding-right: 20px;
}
.inputadd-group{
    display: flex;
}
.pre-name{
    min-width: 7rem !important;
    border: none !important;
}
.pre-name label{
    background-color: #fff;
}

.input-position-fill{
    margin-top: 20px;
}
.TextField label {
    background-color: white;
    color: #5a5858;
    font-size: 20px;
    /* color: black; */
}

.TextField1 label {
    background-color: white;
    color: #5a5858;
    font-size: 20px;
    
    /* color: black; */
}
.TextField1{ 
  display: grid !important;
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom:2%;
}

.edit-pass-pc{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 89px;
    max-width: 600px;
}