/* .css-form {
    background-color: #99CCFF;
}
.css-form .box-form {
    background-color: #707070;
} */
.css-form h1{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}
.css-form form {
    border: 1px solid #707070;
    border-radius: 43px;
    box-shadow: 5px 5px 8px #707070;
    padding: 25px 20px 15px 20px;
    margin: 35px 90px;
    /* max-width: 620px; */
    height: auto;    
    transition: 0.3s;
}
.css-form form h2{
    text-align: center;
    font-size: 35px;
}

.css-form form span{
    color: red;
}
.idcard {
    margin-top: 30px;
    margin-bottom: 15px;
}
.fullname, .sex, .localname, .date {
    margin-bottom: 15px;
}

.css-form form .localname span {
    color: #F0AD4E;
}

.sex label{
    margin-left: 2px;
}
.date p {
    text-align: center;
}

.form-btn {
    margin: 0 30px;
}
.css-form .btn-back {
    background-color: #99CCFF;
    color: white;
}
.css-form .question {
    margin: 30px;
}
.css-form p {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 20px;
}
.css-form .form-check {
    padding-left: 50px ;
}
.css-form .form-check label{
    margin: 0;
}
/* ********************** #Mobile ******************************* */
@media screen and (max-width: 450px){
    .css-form form{
        margin: 45px 20px;
    }
    .css-form h1 {
        font-size: 30px;
    }
    .css-form form h2 {
        font-size: 25px;
    }
    .css-form p {
        font-size: 17px;
    }
    .css-form .question {
        margin: 30px 0;
    }
    .date p {
        padding-top: 10px
    }
}

/* ********************** #lg screen ******************************* */
@media screen and (min-width: 1100px){
    .css-form form {
        /* background-color: red; */
        margin: 35px 270px;
    }
}