.sec8-9q form {
    padding-left: 0;
    padding-right: 0;
}
.css-form .sec-8 {
    margin: 30px 0;
}
.sec8-9q table thead {
    text-align: center;
}

.sec8-9q table thead p {
    margin: 0;
}

.sec8-9q table thead span {
    color: black;
    font-size: small;
}