/* header */
.navbar-nav{
    cursor: pointer;
    margin-bottom: 5px !important;
}

.brand-link {
    border: none !important;
}

.add-staff-bt{
    display: flex;
    justify-content: center;
}

#image-upload{
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.label-upload-image{
    cursor: pointer;
    margin: auto 0;
}