.bg-img {
    background: url('../images/bg1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 150vh;
  }

.test {
  /* background-color: #707070; */
  background-image: url('../images/bg1.jpg');
  /* width: 100vw; */
  /* height: 100vh; */
}

.bg-transbox {
    background-color: rgb(255, 255, 255);
    border: 1.3px solid #707070;
    opacity: 0.9;
    /* border-radius: 30px; */
    width: 70%;
    height: auto;
    max-width: 500px;
}

.img-displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
}

.username input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #707070;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}


.password input[type="password"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #707070;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="password"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.forget-pw {
  position: absolute;
  right: 0;
  font-size: small;
}

label {
  margin: -10px;
}
.errorMessage{
  color: red;
  font-size: small;
}