.input-sec1 {
    margin: 0 10px;
}

.input-sec1-row4 {
    max-width: fit-content;
}

.mb-15 {
    /* Sections1_4 */
    margin-bottom: 15px;
}
.mt-15 {
    margin-top: 15px;
}

.pl-30 {
    padding-left: 30px !important;
}


.TextField {
    display: grid !important;
    background-color: white;
}

.TextField label {
    background-color: white;
    padding-right: 5px;
    font-size: large !important;
    /* color: black; */
}

.radio-space {
    margin-right: 8rem !important;
    margin-left: 1rem !important;
}
strong {
    color: black;
}